{
  "extends": "@antfu",
  "rules": {
    // override default options for rules from base configurations
    "quote-props": ["warn", "as-needed"],
    // "comma-dangle": ["warn", "only-multiline"],
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "only-multiline"
      }
    ],
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/brace-style": "off",
    "arrow-parens": ["warn", "as-needed"],
    "curly": ["error", "all"]
  }
}
