.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
cypress/downloads

**/coverage/

docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/

node_modules/
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/

# rollup-plugin-visualizer
/stats.html
