@use '@sass-palette/hope-config';

// 使用vuejs.org的彩色文字样式
.fancy-hero-text {
  .blog-hero {
    h1 {
      // background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
      background: -webkit-linear-gradient(315deg, #647eff 25%, #42d392);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      &.description {
        background: -webkit-linear-gradient(315deg, #647eff 25%, #42d392);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

// 调整下余白
.theme-container {
  main {
    &.home {
      header {
        &.hero {
          margin-bottom: 15px;
        }
      }
    }
  }

  // 调整giscus下余白
  .page .giscus-wrapper.input-top {
    padding-bottom: 0;
  }

  .page .giscus-wrapper.input-top .giscus {
    margin-bottom: auto;
  }

  .page:not(.not-found) + .footer-wrapper {
    margin-top: auto;
  }
}

// 调整主体内容最小高度，避免出纵向滚动条
#main-content {
  box-sizing: border-box;
  min-height: calc(100vh - var(--footer-height));
}

// 下面需求已提交PR，无需再自定义
// 调整blog-info-wrapper跟navbar的距离
// .theme-container {
//   // vuepress-theme-hope/packages/theme/src/client/module/blog/styles/info-panel.scss
//   .page {
//     .blog-info-wrapper {
//       margin-top: 0;
//       top: calc(var(--navbar-height) + 0.75rem);

//       @media (max-width: hope-config.$pad) {
//         top: calc(var(--navbar-mobile-height) + 0.75rem);
//       }
//     }
//   }
// }
