// 使用vuejs.org的彩色文字样式
.fancy-hero-text {
  .blog-hero {
    h1 {
      // background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
      background: -webkit-linear-gradient(315deg, #647eff 25%, #42d392);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      &.description {
        background: -webkit-linear-gradient(315deg, #647eff 25%, #42d392);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

// 调整下余白
.theme-container {
  main {
    &.home {
      header {
        &.hero {
          margin-bottom: 15px;
        }
      }
    }
  }

  // 调整giscus下余白
  .page .giscus-wrapper.input-top {
    padding-bottom: 0;
  }

  .page .giscus-wrapper.input-top .giscus {
    margin-bottom: auto;
  }

  .page:not(.not-found) + .footer-wrapper {
    margin-top: auto;
  }
}

// 调整主体内容最小高度，避免出纵向滚动条
#main-content {
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

.theme-container {
  main.page {
    // page: padding-bottom: 2rem;
    min-height: calc(
      100vh - var(--navbar-height) - var(--footer-height) - 2rem
    ) !important;
  }
}
