.hanzi2 {
  font-size: 12px;

  .pinyin-container {
    width: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-image: url('./images/pinyinge.svg');
    background-position: 0 0;
    background-repeat: repeat-x;

    .pinyin {
      height: 50px;
      font-size: 29px;
    }
  }
}
