.hanzi-main {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;

  page-break-inside: avoid;
}

.hanzi-card {
  position: absolute;
  top: 0;
  left: 0;
}

.hanzi-card.print,
.hanzi-card.writing {
  display: none;
}

.hanzi-main__left {
  width: 140px;
  height: 140px;
  position: relative;
}

.hanzi-main__right {
  text-align: left;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.hanzi-main__right .info {
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 5px;
}
.hanzi-main__right .info .tag {
  background-color: red;
  color: white;
  font-weight: 500;
  padding: 3px;
  border-radius: 5px;
  margin-right: 5px;
}
.hanzi-main__right .info .content {
  display: inline-block;
}

.hanzi-main__right .info.pinyin .content {
  min-width: 80px;
}
.hanzi-main__right .info.bushou .content {
  min-width: 30px;
}
.hanzi-main__right .info.jiegou .content {
  min-width: 100px;
}
.hanzi-main__right .info.bihuashu .content {
  min-width: 20px;
}
.hanzi-main__right .info.bihua .content {
  width: auto;
}

.words-container {
  text-align: left;
}

.hanzi-controls {
  position: absolute;
  top: 123px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 18px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.btn:hover {
  scale: 1.2;
}

.btn.btn-voice {
  background-image: url('./images/voice.svg');
}
.btn.btn-human-voice {
  background-image: url('./images/human-voice.svg');
}
.btn.btn-play {
  background-image: url('./images/play.svg');
}
.btn.btn-write {
  background-image: url('./images/write.svg');
}
.btn.btn-pinyin {
  background-image: url('./images/a.svg');
}

.zitie-print {
  display: none;
}

@media print {
  .hanzi-main__left {
    /* display: none !important; */
  }

  .hanzi-card.print {
    display: block !important;
  }
  .hanzi-card.animation,
  .hanzi-card.writing {
    display: none !important;
  }
  .hanzi-controls {
    display: none !important;
  }

  .hanzi-detail__strokes {
    display: none !important;
  }

  .zitie-print {
    display: block !important;
  }
}
