.playground-container {
  margin-top: 1rem;
  border: 1px solid;
  border-color: var(--code-border-color);
  border-radius: 6px;

  .op-btns {
    display: flex;
    align-items: center;

    .op-btn {
      display: inline-flex;
      margin-left: 10px;

      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:hover {
        .icon {
          transition: transform 0.15s cubic-bezier(0.2, 0, 0.13, 2);
          transform: scale(1.2);
        }
      }
    }
  }

  .title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: 600;
    padding: 8px 10px;
    background-color: var(--code-group-nav-bg-color, #3a404c);

    .playground-title {
      font-size: 1.25rem;
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .preview-container {
    position: relative;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--code-border-color);
    height: 300px;
    overflow: hidden;
    background-color: var(--code-bg-color, #282c34);

    .preview-loading-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      background: var(--grey15);

      display: flex;
      align-items: center;
      justify-content: center;

      .loading-icon {
        width: 4rem;
        height: 4rem;
      }
    }

    iframe {
      border: none;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .source-container {
    display: none;

    &.show {
      display: block;
    }

    // reset code-group
    .theme-hope-content & {
      pre,
      pre[class*='language-'] {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .code-group {
      .code-group-nav {
        margin: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        @media (max-width: hope-config.$mobile) {
          margin: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }

      @media (max-width: hope-config.$mobile) {
        .code-group-item {
          div[class*='language-'] {
            margin: 0;
          }
        }
      }
    }
  }
}
